.search-books {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-books__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 240px;
    height: 40px;
    border-radius: 5px;
}

.search-books__input {
    height: 30px;
    width: 180px;
    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.search-books_btn-img img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.search-books_btn-img {
    background-color: #fff;
    border: none;
    border-radius: 5px;
}