.home__content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    height: calc(100vh - 120px);
}

.home__content__image > img {
    width: 500px;
    height: auto;
}

.home__content__text {
    display: flex;
    flex-direction: column;
    width: 50%;
}