body {
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    background-color: #ECE1F6;
    color: #988DAE;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    
}